body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#fff;  
    font-family: 'Arial';  
}  
/* Login page */
.login{  
        width: 25%;  
        margin: auto;
        margin-top: 175px;
        margin: 20 0 0 450px;  
        padding: 20px;  
        background: #7949d3; 
        border-radius: 15px;
} 
.login h2{
    text-align: center;  
    color: #000;  
    font-family: cursive;
    font-size: 30px;
}
.field{
    padding: 10px;
}
.field label{
    color: #fff;
    font-weight: bold;
}
.row .col{
    width: 48%;
    display: inline-block;
}
.row .col.forgotPassword{
    text-align: right;
}
.row .col.forgotPassword a{
    color: #fff;
    font-weight: bold;
}
input[type="email"],input[type="password"],input[type="text"],input[type="number"],input[type="date"],select{  
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 3px;  
    padding-left: 8px;  
}
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: auto;
}
.button .col{
    margin-top: 20px;
    text-align: center;
}
.button input{
    padding: 10px;
    width:30%;
    font-size: 1rem;
    border-radius:4px ;
}
input[type="button"]:hover{
    color: #fff;
    font-weight: bold;
    background-color: #000;
}
input[type="reset"]:hover{
    color:#fff;
    font-weight: bold;
    background-color: rgb(90, 4, 4);
}
.newUser{
    text-align: center;
    padding: 20px;
}
.newUser a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}
.newUser a span{
    color:rgb(161, 236, 9);
}
/* Register form*/
.register{  
    width: 25%;  
    margin: auto;
    margin-top: 175px;
    margin: 20 0 0 450px;  
    padding: 20px;  
    background: #7949d3; 
    border-radius: 15px;
} 
.register h2{
    text-align: center;  
    color: #000;  
    font-family: cursive;
    font-size: 30px;
}
.existing{
    text-align: right;
    padding: 20px;
}
.existing a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}
.existing a span{
    color:rgb(161, 236, 9);
}

/* navigation */
.navigation{
    background-color: black;
    padding:20px;
}
.navigation .dashboard {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}
.navigation .dashboard:hover{
    background-color: #fff;
    color: #000;
}
.navigation .dropdown{
    margin-top: -18px;
    text-align: right;
    margin-right: 15px;
}
.navigation .dropdown img{
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.dropdown a, .dropdown-button {
    color: white;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

}

.dropdown a:hover, .dropdown:hover .dropdown-button {
    background-color: red;
}

.dropdown {
    display:inline-block;
    position:relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* user profile*/
.profile-view{
    width: 40%;
    margin-top: 80px;
    box-shadow: 0.5px 1px 1px 3px #dfdede;
    height: 450px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.profile-view .user-image{
    text-align: center;
}
.profile-view .user-image img{
    margin-top: 2px;
    width:130px;
    height: 120px;
    border-radius:50% ;
    border: 1px solid;

}
.profile-view .edit-user{
    padding: 5px;
    text-align: center;
    margin-bottom: 400px;
}
.profile-view .edit-user a{
    background-color: rgb(255, 255, 255);
    padding:10px;
    border:2px solid rgb(2, 2, 172);
    text-decoration: none;
    color:#000;
    font-weight: bold;
    border-radius: 5px;
}
.profile-view .edit-user a:hover{
    color:#fff;
    font-weight: bold;
    background-color: rgb(9, 9, 117);
}
.profile-view .user-image .user-name{
    font-size: 1rem;
    line-height:0em;
    color: #3d2569;
}
.profile-view .personal-details{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.profile-view .personal-details h4 a{
    text-decoration: none;
}
.profile-view .personal-details h4{
    text-align: center;
}

/* Edit profile */
.edit-profile{
    width: 40%;
    margin-top: 80px;
    box-shadow: 0.5px 1px 1px 3px #dfdede;
    height: 450px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;  
    background: #7949d3; 
    border-radius: 15px;
}
.edit-profile .button{
    text-align: center;
}
.edit-profile .button input[type="button"]{
    border-radius: 10px;
}
.edit-profile h2{
    text-align: center;
}

/* Dashboard */
.main-body{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0.5px 1px 1px 3px #dfdede;
}
.main-body .col{
    margin:5px;
    padding: 5px;
}
.main-body .col form{
    border-radius: 10px;
    padding:5px;
}/* 
.main-body .col form h2{
    text-align: center;
} *//* 
.main-body .col .button{
    text-align: center;
} */
.main-body .col .field input{
    border-radius: 10px;
    padding:8px
}
.main-body .col input[type='text']{
    border-radius: 10px;
    width: 80%;
    
}
.main-body .col table{
    border-collapse: collapse;
    width: 100%;
}
.main-body .col table td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
.main-body .col table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.main-body .col table td a{
    text-decoration: none;
}
.main-body .col.status{
    padding: 10px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #7949d3;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
}
.main-body .col.status .card{
    margin:15px;
    background-color: #fff;
}
.main-body .col.button button{
    padding:20px;
    border-radius: 4px;
    color:rgb(248, 244, 244);
    font-weight: bold;
    font-size: 1rem;
    background-color: #7949d3;
    margin: 20px;
    width: 250px;

}

#gif-wrap {
    height: 200px;
    width: 270px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.main-body .col.status .card .currentTime{
    font-size: 3rem;
    text-align: center;
    margin:40px;
}